@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #333;
    --text-secondary: #bbb;
    --primary: #ff6b81;
    --card-bg: #fff;
    --body-bg: #f7f7f7;
  }
  body {
    background-image: url("https://cdn.zengjunyin.com/9B54A4959F1F0AB9DDB324F5CE8195A5.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: var(--body-bg);
    font-family: "Noto Serif SC", sans-serif;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  hr {
    background-color: var(--text-secondary);
  }
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }
  ::-webkitbg-transparent {
    @apply bg-pink rounded-md;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
  *,
  ::after,
  ::before {
    @apply box-border;
  }
  .markdown * {
    @apply my-4;
  }
  .markdown p {
    @apply xl:text-lg/10 text-base/8 text-justify tracking-wider;
  }
  .markdown a {
    @apply text-pink;
  }
  .markdown .data-footnote-backref {
    @apply hidden;
  }
  .markdown .footnotes h2 {
    @apply hidden;
  }
  .markdown .footnotes p {
    @apply text-sm/8;
  }
  .markdown sup::before {
    @apply text-pink;
    content: "[";
  }
  .markdown sup::after {
    @apply text-pink;
    content: "]";
  }
}
