@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #333;
    --text-secondary: #bbb;
    --primary: #ff6b81;
    --hr-bg: #bbb;
    --card-bg: #fff;
    --body-bg: #f7f7f7;
    --hover-bg: rgba(0, 0, 0, 0.1);
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Noto Serif SC", sans-serif;
  }
  body {
    background-image: url("/9B54A4959F1F0AB9DDB324F5CE8195A5.png");
    background-repeat: repeat;
    background-color: var(--body-bg);
    background-attachment: fixed;
  }
  hr {
    background-color: var(--hr-bg);
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ff6b81;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  .markdown * {
    margin: 1rem 0;
  }
  .markdown p {
    @apply sm:text-base/8 text-sm/8;
    text-align: justify;
    letter-spacing: 0.07em;
  }
  .markdown a {
    color: var(--primary);
  }
  .markdown .data-footnote-backref,
  .markdown .footnotes h2 {
    display: none;
  }
  .markdown .footnotes p {
    font-size: 0.875rem;
    line-height: 2rem;
  }
  .markdown h2 {
    @apply text-lg sm:text-xl;
    font-weight: 600;
    margin-bottom: 0.75rem;
    width: auto;
    display: inline-block;
    position: relative;
  }
  .markdown h2::after {
    content: "";
    position: absolute;
    opacity: 0.4;
    bottom: 0.25rem;
    left: 0px;
    right: 0px;
    display: block;
    height: 0.5rem;
    background-color: var(--primary);
  }
  .markdown sup::before {
    color: var(--primary);
    content: "[";
  }
  .markdown sup::after {
    color: var(--primary);
    content: "]";
  }
  .markdown pre {
    padding: 0.5rem 1rem;
  }

  .twikoo p {
    @apply sm:text-base/8 text-sm/8;
    text-align: justify;
    letter-spacing: 0.07em;
  }
  .twikoo .tk-comments-title {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }
  .twikoo .tk-main > .tk-expand {
    margin-top: 1rem;
  }
  .twikoo .tk-comments-container {
    @apply divide-y;
    margin-top: 0;
  }
  .twikoo .tk-comments-container > .tk-comment {
    margin-top: 0;
    padding: 1rem 0;
  }
  .twikoo .tk-submit {
    margin-top: 1rem;
  }
  .twikoo .tk-submit .el-textarea__inner,
  .twikoo .tk-submit .el-input__inner,
  .twikoo .tk-submit .el-input-group__prepend {
    border-radius: 0;
  }
  .twikoo .tk-submit .el-input-group__prepend {
    @apply bg-gray-50;
  }
  .twikoo .el-button,
  .twikoo .el-button--primary {
    border-radius: 0.125rem;
    border: 0;
  }
  .twikoo .tk-submit .el-button--primary.is-disabled,
  .twikoo .tk-submit .el-button--primary.is-disabled:active,
  .twikoo .tk-submit .el-button--primary.is-disabled:focus,
  .twikoo .tk-submit .el-button--primary.is-disabled:hover {
    @apply bg-rose-100;
  }
  .twikoo .tk-submit .el-button--primary,
  .twikoo .tk-submit .el-button--primary:active,
  .twikoo .tk-submit .el-button--primary:focus,
  .twikoo .tk-submit .el-button--primary:hover {
    background-color: var(--primary);
  }
  .twikoo .tk-cancel .el-button {
    @apply bg-rose-100 !important;
    margin-top: 1rem;
  }
  .twikoo .tk-cancel .el-button:hover {
    @apply bg-pink text-white !important;
  }
  .twikoo .tk-submit .el-input__inner:focus,
  .twikoo .tk-submit .el-textarea__inner:focus {
    border-color: var(--primary);
  }
  .twikoo .tk-action-link {
    @apply text-primary hover:text-pink transition-colors sm:text-sm text-xs cursor-pointer;
  }
  .twikoo .tk-icon.__comments {
    color: var(--primary);
  }
  .twikoo .tk-nick-link {
    @apply text-primary hover:text-pink transition-colors cursor-pointer text-base sm:text-lg;
  }
  .twikoo .tk-meta::-webkit-scrollbar {
    display: none;
  }
  .twikoo .tk-time {
    @apply text-xs sm:text-sm;
  }
  .twikoo .tk-submit .tk-row.actions {
    margin-bottom: 0;
  }
  .twikoo .tk-comments-count {
    @apply text-lg sm:text-xl;
    font-weight: 600;
    width: auto;
    display: inline-block;
    position: relative;
  }
  .twikoo .tk-comments-count::after {
    content: "";
    position: absolute;
    opacity: 0.4;
    bottom: 0.25rem;
    left: 0px;
    right: 0px;
    display: block;
    height: 0.5rem;
    background-color: var(--primary);
  }
}
