@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #363636;
    --text-secondary: #888;
    --primary: #ff6b81;
    --body-bg: #f7f9fe;
    --card-bg: #fff;
    --card-border: #e3e8f7;
  }
  main {
    min-height: calc(100vh - 129px);
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ff6b81;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
