---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { PostCard } from "../components/PostCard";
import LazyImage from "@/components/LazyImage";

const allPosts = await getCollection("blog");
---

<Layout title="Welcome to Astro.">
  <main class="mt-16">
    <div class="w-full h-72 md:h-auto">
      <LazyImage
        client:load
        src="https://article.biliimg.com/bfs/article/4b48fa534e5845e609e100f6168f54739c383677.png"
        alt="banner"
        width="1920"
        height="600"
      />
    </div>
    <div class="mx-auto px-4 sm:px-8 py-8 max-w-5xl">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
        {allPosts.map((post) => <PostCard client:load post={post} />)}
      </div>
    </div>
  </main>
</Layout>
