---
import { PostCard } from "@/components/PostCard";
import Layout from "@/layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

type GetStaticPathsProps = {
  paginate: Function;
};

interface Props {
  page: {
    data: CollectionEntry<"blog">[];
    start: number;
    end: number;
    total: number;
    currentPage: number;
    size: number;
    lastPage: number;
    url: {
      current: string;
      prev: string | undefined;
      next: string | undefined;
    };
  };
}

export async function getStaticPaths({ paginate }: GetStaticPathsProps) {
  const allPosts = await getCollection("blog");
  return paginate(allPosts, { pageSize: 9 });
}

const { page } = Astro.props;
---

<Layout title={`全部文章 - ${page.currentPage}`}>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {page.data.map((post) => <PostCard post={post} />)}
  </div>
</Layout>
