---
const { title } = Astro.props;
---

<h2
  class="text-xl mb-3 w-auto inline-block relative after:absolute after:opacity-40 after:bottom-1 after:left-0 after:block after:right-0 font-medium after:h-2 after:bg-pink after:content-['']"
>
  {title}
</h2>
