---
import { NavigationItems } from "@/config";
import NavbarItem from "./NavbarItem.astro";

interface Props {
  select: number;
}

const { select } = Astro.props;
---

<div class="w-full justify-end flex space-x-4 text-white">
  {
    NavigationItems.map((item, index) => (
      <NavbarItem
        title={item.title}
        link={item.link}
        active={index === select ? true : false}
      />
    ))
  }
</div>
