---
import { cn } from "@/lib/utils";

interface Props {
  src: string;
  alt?: string;
  width?: string;
  height?: string;
  className?: string;
}

const { src, alt, width, height, className } = Astro.props;

const srcSuffix = `${width ? width : "800"}w_${
  height ? height : "400"
}h_1c.webp`;

const placeholder = `https://article.biliimg.com/bfs/article/18d1e2d11b9e00ea443016e3f94beb9af888d339.png@${srcSuffix}`;
---

<div class={cn("h-full w-full overflow-hidden", className)}>
  <img
    data-src=`${src}@${srcSuffix}`
    src={placeholder}
    class="lazyload object-cover h-full w-full blur-lg opacity-0 transition-all duration-700"
    alt={alt ? alt : ""}
  />
</div>
