---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta
    http-equiv="Content-Security-Policy"
    content="upgrade-insecure-requests"
  />
  <link rel="icon" href="/favicon.ico" />
  <link
    rel="stylesheet"
    href="https://cdn.staticfile.org/lxgw-wenkai-webfont/1.7.0/lxgwwenkai-bold.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.staticfile.org/lxgw-wenkai-webfont/1.7.0/lxgwwenkai-regular.min.css"
  />
  <script is:inline src="/twikoo.all.min.js"></script>
  <title>{title}</title>
  <meta name="referrer" content="same-origin" />
</head>
