---
import { ChevronRight } from "lucide-react";
interface Props {
  link: string;
  title: string;
}

const { link, title } = Astro.props;
---

<div
  class="flex items-center hover:text-pink text-sm transition-colors justify-end mt-2"
>
  <a href={link}>{title}</a>
  <ChevronRight className="h-4 w-4" />
</div>
