---
import NavbarItem from "@/components/NavbarItem.astro";
import { cn } from "@/lib/utils";

interface Props {
  select: number;
}

const { select } = Astro.props;

const itemList = [
  {
    title: "主页",
    link: "/",
  },
  {
    title: "文章",
    link: "/post/",
  },
  {
    title: "说说",
    link: "/issue/1",
  },
  {
    title: "友链",
    link: "/links/",
  },
];
---

<div
  class={cn("w-full justify-end flex space-x-4", {
    "text-white": select > 0,
    "text-primary": select === 0,
  })}
>
  {
    itemList.map((item, index) => (
      <NavbarItem
        title={item.title}
        link={item.link}
        active={index === select ? true : false}
      />
    ))
  }
</div>
