---
import { cn } from "@/lib/utils";
import { ChevronLeft, ChevronRight } from "lucide-react";

interface Props {
  prev?: string;
  next?: string;
}

const { prev, next } = Astro.props;
---

<div class="w-full flex items-center justify-between">
  <div
    class={cn("hover:text-pink flex text-sm items-center transition-colors", {
      invisible: !prev,
    })}
  >
    <ChevronLeft className="h-4 w-4" />
    <a href={prev}>上一页</a>
  </div>
  <div
    class={cn("hover:text-pink flex text-sm items-center transition-colors", {
      invisible: !next,
    })}
  >
    <a href={next}>下一页</a>
    <ChevronRight className="h-4 w-4" />
  </div>
</div>
