---
import Layout from "@/layouts/Layout.astro";
import LinksItem from "@/components/LinksItem";
import PageBanner from "@/components/PageBanner";

const items = [
  {
    link: "https://blog.scxho.cn",
    name: "山川行貉",
    description: "快让我在雪地上撒点儿野.",
    avatar:
      "https://article.biliimg.com/bfs/article/f029053d1b895afb1784b7aef5c745526faa696e.png@.webp",
  },
  {
    link: "https://vian.top",
    name: "Vian",
    description: "想要的都拥有，得不到的都释怀...",
    avatar: "https://vian.top/avatar.ico",
  },
  {
    link: "https://irithys.com",
    name: "山茶花舍",
    description: "吕楪在记录自己的生活",
    avatar:
      "https://irithys.com/img/avatar_hubbf77efc6dc5667fd8ba4d90170d6399_48198_300x0_resize_q75_h2_box_2.webp",
  },
  {
    link: "https://pinlyu.com",
    name: "频率",
    description: "风卷过的起点",
    avatar: "https://pinlyu.com/resources/img/avatar.webp",
  },
  {
    link: "https://www.xiaozonglin.cn",
    name: "林林杂语",
    description: "林林在无病呻吟",
    avatar:
      "https://thirdqq.qlogo.cn/g?b=sdk&k=BprL2nDXwddtThAKbAFBtw&kti=Y3tljAAAAAE&s=140&t=1644206293",
  },
  {
    link: "https://blog.alm5.cn",
    name: "林木云",
    description: "一个记录个人经验的网站",
    avatar: "https://img.15xd.cn/favicon.png",
  },
  {
    link: "https://yvu.cc",
    name: "小予",
    description: "愿山野浓雾都有路灯风...",
    avatar:
      "https://cravatar.cn/avatar/9581bec449e7289c8b0a77f949d5bbea?s=100&d=mm&r=g",
  },
];
---

<Layout title={"胤的博客 - 友情链接"}>
  <main
    class="sm:mt-24 mt-16 sm:min-h-0 min-h-main mx-0 sm:mx-16 lg:mx-auto max-w-4xl shadow-lg rounded-sm bg-primary"
  >
    <PageBanner
      title="友情链接"
      description="『 一些可爱的朋友们 』"
      imgsrc="https://article.biliimg.com/bfs/article/a28bb78a74e60ddb306cd84c365e3d4ab7b2bb63.jpg"
      select={3}
    />
    <div class="content px-4 sm:px-12 pb-6 w-full">
      <div class="w-full my-6 grid grid-cols-1 sm:grid-cols-2 mt-4 gap-4">
        {
          items.map((item) => (
            <LinksItem
              link={item.link}
              avatar={item.avatar}
              name={item.name}
              description={item.description}
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
