---
import Layout from "@/layouts/Layout.astro";
import Image from "@/components/Image.astro";
import LinksItem from "@/components/LinksItem.astro";
import { cn } from "@/lib/utils";

const items = [
  {
    link: "https://blog.scxho.cn",
    name: "山川行貉",
    description: "快让我在雪地上撒点儿野.",
    avatar:
      "https://article.biliimg.com/bfs/article/f029053d1b895afb1784b7aef5c745526faa696e.png@.webp",
  },
  {
    link: "https://vian.top",
    name: "Vian",
    description: "想要的都拥有，得不到的都释怀...",
    avatar: "https://vian.top/avatar.ico",
  },
  {
    link: "https://irithys.com",
    name: "山茶花舍",
    description: "吕楪在记录自己的生活",
    avatar:
      "https://irithys.com/img/avatar_hubbf77efc6dc5667fd8ba4d90170d6399_48198_300x0_resize_q75_h2_box_2.webp",
  },
  {
    link: "https://pinlyu.com",
    name: "频率",
    description: "风卷过的起点",
    avatar: "https://pinlyu.com/resources/img/avatar.webp",
  },
  {
    link: "https://www.xiaozonglin.cn",
    name: "林林杂语",
    description: "林林在无病呻吟",
    avatar:
      "https://thirdqq.qlogo.cn/g?b=sdk&k=BprL2nDXwddtThAKbAFBtw&kti=Y3tljAAAAAE&s=140&t=1644206293",
  },
  {
    link: "https://blog.alm5.cn",
    name: "林木云",
    description: "一个记录个人经验的网站",
    avatar: "https://img.15xd.cn/favicon.png",
  },
  {
    link: "https://yvu.cc",
    name: "小予",
    description: "愿山野浓雾都有路灯风...",
    avatar:
      "https://cravatar.cn/avatar/9581bec449e7289c8b0a77f949d5bbea?s=100&d=mm&r=g",
  },
];
---

<Layout select={3} title={"胤的博客 - 友情链接"}>
  <!-- banner -->
  <div class="w-full h-60 rounded-lg overflow-hidden">
    <Image
      alt="banner"
      withFancyBox={false}
      src="https://article.biliimg.com/bfs/article/4b48fa534e5845e609e100f6168f54739c383677.png"
    />
  </div>
  <!-- post -->
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 mt-4 gap-4">
    {items.map((item) => <LinksItem item={item} />)}
  </div>

  <!-- footer -->
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const lazyImages = document.querySelectorAll("img.lazyload");
    const lazyImageObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const image = entry.target as HTMLElement;
          image.classList.remove("lazyload");
          image.setAttribute("src", image.dataset.src ? image.dataset.src : "");
          lazyImageObserver.unobserve(image);
        }
      });
    });
    lazyImages.forEach((image) => {
      lazyImageObserver.observe(image);
    });
  });
</script>
