---
import type { CollectionEntry } from "astro:content";
import PostCard from "./PostCard.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 divide-y">
  {
    posts.map((post) => {
      return <PostCard post={post.data} slug={post.slug} />;
    })
  }
</div>
