---
import Layout from "@/layouts/Layout.astro";
import IssueCard from "@/components/IssueCard.astro";
import Pagination from "@/components/Pagination.astro";
import { getEntry } from "astro:content";
import "@fancyapps/ui/dist/fancybox/fancybox.css";
import BannerHeader from "@/components/PageBanner.astro";

type GetStaticPathsProps = {
  paginate: Function;
};

type Issue = {
  time: string;
  message: string;
  author: string;
  id: number;
  avatar: string;
  picture?: string;
};

interface Props {
  page: {
    data: Issue[];
    start: number;
    end: number;
    total: number;
    currentPage: number;
    size: number;
    lastPage: number;
    url: {
      current: string;
      prev: string | undefined;
      next: string | undefined;
    };
  };
}

export async function getStaticPaths({ paginate }: GetStaticPathsProps) {
  const issueOrigin = await getEntry("issue", "index");
  const issues = issueOrigin.data.issues
    .map((item) => item)
    .sort((a, b) => b.id - a.id);
  return paginate(issues, { pageSize: 8 });
}

const { page } = Astro.props;
---

<Layout
  select={2}
  title={`胤的博客 - 全部说说 - ${page.currentPage}`}
  header="全部说说"
  description="『 简短的一言一语 』"
  banner="https://article.biliimg.com/bfs/article/4b48fa534e5845e609e100f6168f54739c383677.png"
>
  <div class="grid my-6 grid-cols-1 gap-4 divide-y">
    {
      page.data.map((issue) => {
        return <IssueCard issue={issue} />;
      })
    }
  </div>
  <Pagination next={page.url.next} prev={page.url.prev} />
</Layout>
