---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import BackTop from "@/components/BackTop.astro";
import Head from "@/components/Head.astro";
import "@/styles/global.css";
import "@fancyapps/ui/dist/fancybox/fancybox.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <Head title={title} />
  <body class="text-primary tracking-widest">
    <Header />
    <main
      id="swup"
      class="sm:mt-24 mt-16 sm:min-h-0 min-h-main mx-0 sm:mx-16 lg:mx-auto max-w-4xl shadow-lg rounded-sm bg-primary"
    >
      <slot />
    </main>
    <BackTop />
    <Footer />
    <script>
      import { bindFancybox } from "@/lib/utils";
      import Swup from "swup";
      import SwupFadeTheme from "@swup/fade-theme";

      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const image = entry.target as HTMLImageElement;
            const imageSrc = image.dataset.src as string;
            image.classList.remove("lazyload");
            image.setAttribute("src", imageSrc);
            observer.unobserve(image);
          }
        });
      });

      const swup = new Swup({
        plugins: [new SwupFadeTheme()],
      });

      document.addEventListener("swup:enable", () => {
        const images = document.querySelectorAll("img.lazyload");
        images.forEach((image) => {
          observer.observe(image);
        });

        const twikooElement = document.querySelector("#twikoo");
        if (twikooElement) {
          window.twikoo.init({
            envId: "https://twikoo.zengjunyin.com",
            el: "#twikoo",
            lang: "zh-CN",
          });
        }

        bindFancybox(true);

        swup.hooks.on("page:view", () => {
          const images = document.querySelectorAll("img.lazyload");
          images.forEach((image) => {
            observer.observe(image);
          });

          const twikooElement = document.querySelector("#twikoo");
          if (twikooElement) {
            window.twikoo.init({
              envId: "https://twikoo.zengjunyin.com",
              el: "#twikoo",
              lang: "zh-CN",
            });
          }

          bindFancybox(true);
        });
      });
    </script>
  </body>
</html>
