---
interface Props {
  title: string;
  select: number;
}

const { title, select } = Astro.props;

import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";

import "@/styles/global.css";
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap"
    />
    <meta name="referrer" content="same-origin" />
    <title>{title}</title>
  </head>
  <body class="text-primary tracking-widest">
    <main
      class="sm:mt-24 p-4 sm:p-8 md:p-16 lg:mx-auto max-w-4xl sm:mx-4 md:mx-8 shadow-lg rounded-sm bg-primary"
    >
      <Navbar select={select} />
      <slot />
    </main>
    <Footer />
  </body>
</html>
