---
import Footer from "@/components/Footer";
import Header from "@/components/Header";
import BackTop from "@/components/BackTop";
import Head from "@/components/Head.astro";
import "@/styles/global.css";
import "@fancyapps/ui/dist/fancybox/fancybox.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <Head title={title} />
  <body class="text-primary tracking-widest">
    <Header client:load />
    <slot />
    <BackTop client:load />
    <Footer />
  </body>
</html>
