---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/noto-serif-sc/400.css";
import "@fontsource/noto-serif-sc/500.css";
import "@fontsource/noto-serif-sc/600.css";

import Footer from "@/components/Footer/index.astro";

import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="referrer" content="same-origin" />
    <title>{title}</title>
  </head>
  <body class="antialiased font-serif text-primary">
    <main
      class="sm:mt-24 p-4 sm:p-8 md:p-16 lg:mx-auto max-w-4xl sm:mx-4 md:mx-8 shadow-lg rounded-sm bg-primary"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
